body { 
	/*background: #F1F1F1; */
	/*background: url(img/bg_checkers.png) #f1f1f1;*/
	background: url(img/backdrop.png) #F1F1F1 center 12px;
	font-family: 'Carme', sans-serif;
	height: 100%;
}
@media only screen and (-webkit-device-pixel-ratio: 2){ 
    body {
        /*background:url(img/backdrop-double.png) #F1F1F1 center 12px;*/
        background-size: 250px;
        background-color:transparent;
    }
}

h1, h2, h3 {
	font-family: 'Raleway', sans-serif;
}

h2 { font-size:1.6em; padding:5px 8px; }

p { padding: 8px; max-width: 550px;}

#shadow{ 
	position: absolute; 
	width:100%;
	background: rgba(0,0,0,.5);
	height:4px;
	top: 200px;
}

#line {
	position: absolute; 
	width:100%;
	background: #ECECEC;
	height:15px;
	bottom:0;
}

#list{
	margin: 0 auto;
	clear: both;
	display: block;
	position: relative;
	overflow: hidden;
	max-width: 1100px;
}

/*#listHolder{
	width:100%;
}*/

#logo {
	display: inline-block;
	width:210px;
	height: 100%;
	background: url(img/portfolio-logo.png) center center no-repeat;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	margin-left: -105px;
    
	margin-top: -20px;
}

.infoPane {
    padding: 5px;
    
    box-sizing: border-box;
}

.infoPane h1 {
    color:#222;
    padding:12px 5px 0;
}

.infoPane img {width:100%; }
.infoPane .container { padding:0 10px;}
p.small { font-size:.8em; }

#logo.left {
    background-image: url(img/portfolio-logo_small.png);
    margin-left:0;
    left: 15px;   
    margin-top: 0;
}
@media only screen and (-webkit-device-pixel-ratio: 2){ 
	#logo {
		background-image:url(img/portfolio-logo@2x.png);
		background-size: 110px 237px;
	}
	#logo.left {
		background-image:url(img/portfolio-logo_small@2x.png);
		background-size: 203px 83px;
	}
}

#logo, .imageHolder .moreInfo, .imageHolder .moreInfo .text, .imageHolder .expand, #menu {
	transition-duration:.5s;
	-moz-transition-duration:.5s; /* Firefox */
	-webkit-transition-duration:.5s; /* Safari and Chrome */
	-o-transition-duration:.5s; /* Opera */
	transition-timing-function: cubic-bezier(0, .92, 0.6, 1.0);
	-moz-transition-timing-function: cubic-bezier(0, .92, 0.6, 1.0);
	-webkit-transition-timing-function: cubic-bezier(0, .92, 0.6, 1.0);
	-o-transition-timing-function: cubic-bezier(0, .92, 0.6, 1.0);
}

#menu {
    position:absolute;
    width: 200px;
    top: 87%;
    right:50%;
    margin-right: -100px;
}
#menu.right {
    right:0;
    left:inherit;
    top:50%;
    margin:-10px 0 0 0;
    
}
#menu > *:first-child {margin:0;}
#menu > * {
    cursor:pointer;
    width:20px;
    height:20px;
    display:inline-block;
    margin:0 0 0 18px;
    padding:0;
    background-position:top left;
    color:#7a7b8e;
    position:relative;
    
}
#menu > *:hover { background-position:0 20px; }
@media only screen and (-webkit-device-pixel-ratio: 1){
	#menu .blog { background-image: url(img/blog-btn.png); }
	#menu .info { background-image: url(img/info-btn.png); }
	#menu .resume { background-image: url(img/resume-btn.png); }
}
@media only screen and (-webkit-device-pixel-ratio: 2){
	#menu .blog { background-image: url(img/blog-btn@2x.png);background-size: 20px; }
	#menu .info { background-image: url(img/info-btn@2x.png);background-size: 20px; }
	#menu .resume { background-image: url(img/resume-btn@2x.png);background-size: 20px; }
}

#menu .floater { 
     transition-duration:.2s;
	-moz-transition-duration:.2s; /* Firefox */
	-webkit-transition-duration:.2s; /* Safari and Chrome */
	-o-transition-duration:.2s; /* Opera */
    position:absolute; 
    top: -30px; 
    width: 70px; 
    left: -25px; 
    background: #232323; 
    color: white; 
    line-height: 23px; 
    font-family: helvetica;
    opacity:0;
    }
#menu .floater.visible {
    top:-33px;
    opacity:1;
}
#menu .floater .arrow {
    border-style:solid;
    border-width: 8px 8px 0px 8px;
    border-color:#232323 transparent;
    height: 0px;
    width: 0px;
    left: 50%;
    top: 100%;
    position: absolute;
    margin-left:-8px;
}

#header {
	height: 299px;
	background: rgba(255, 255, 255, 0.96);
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 20;
	top: 0;
	border-bottom: 2px solid #54556D;
	box-sizing: border-box;
}

div.project {
	position: absolute;
	float: left;
	background: rgba(0, 0, 0, 0.1);
	display: inline-block;
	overflow: hidden;
	cursor: pointer;
}

div.project img {
	position: absolute;
	left:0;
	top:0;
	/*width:100%;
	height:100%;*/
	
}

div.project img.hover{
    filter: none;
    -webkit-filter: grayscale(0);
}

div.project .opaqueCover {
	width:100%;
	height:100%;
	position: absolute;
	opacity: .5;
	background: black;
	z-index: 2;
	cursor: pointer;
	-webkit-transition: opacity .5s linear;
	-moz-transition: opacity .5s linear;
}

div.project:hover .opaqueCover {
    opacity:.25;
}

div.project .descriptionBox {
	text-align: center;
	width:100%;
	height:100%;
	position: absolute;
	opacity: 0;
	z-index: 3;
}

div.project .descriptionBox .titleHolder div {
	font-size: .8em;
	padding: 0 0 6px;
	color: rgb(114, 114, 114);
	border: none;
}
div.project .descriptionBox .titleHolder:hover {}
div.project .descriptionBox .titleHolder:hover h1 {}
div.project .descriptionBox .titleHolder:hover div { }
div.project .descriptionBox .titleHolder {
	background: #FFFFFF;
	display: inline-block;
	cursor:pointer;
	width: 100%;
	top: 50%;
	position: absolute;
	left: 0;
	margin-top: -32px;
}
div.project .descriptionBox h1 {
	color: #1E202C;
	font-size: 1.5em;
	padding: 12px 46px 0;
	margin:0;
	border:none;
}

.projectSlidingPane {
    padding-top:60px;   
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.projectSlidingPane .btns{
	position: absolute;
	padding: 5px 5px 45px;
	top:0;
	left: 0;
	width: 100%;
	background: url(img/backdrop-plain.png) 2px 2px #838496;
	z-index: -1;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media only screen and (-webkit-device-pixel-ratio: 2){ 
    .projectSlidingPane .btns {
        background:url(img/backdrop-plain@2x.png) 2px 2px #838496;
        background-size:200px;
    }   
}


.btns .btn { 
	display: inline-block; 
	height:49px;
	width:49px;
	background: url(img/nav-sprite.png) no-repeat 49px 49px;
	cursor: pointer;
	-webkit-user-select: none;
}

.btns.white .btn {
    background-image: url(img/nav-sprite-white.png);
 }

@media only screen and (-webkit-device-pixel-ratio: 2){
	.btns .btn { 
		background-image:url(img/nav-sprite@2x.png);
		background-size:147px 49px;
	}
	.btns.white .btn {
		background-image: url(img/nav-sprite-white@2x.png);
		background-size:147px 49px;
	}
}

.btns .close { background-position:top left; }
/*.btns .close:hover { background-position:0 -49px; }*/
.btns .left { background-position:-49px 0; }
/*.btns .left:hover { background-position:-49px -49px; }*/
.btns .right { background-position:-98px 0; }
.btns :hover { background-color: rgba(0, 0, 0, 0.08); }
.btns .disabled:hover { }
.btns .disabled { cursor: default; opacity: .3;}
/*.btns .right:hover { background-position:-98px -49px; }*/

.imageSlider{
	position: absolute;
	display: block;
	overflow:hidden;
	text-align: center;
}

.imageSlider .imgHolder {
	width:100%;
	height:100%;
	display: block;
	position: absolute;
	overflow:hidden;
	left:0;
	top:0;
	-webkit-transition-duration:.2s;
	-moz-transition-duration:.2s;
	-o-transition-duration:.2s;
	/*-webkit-transition: all 500ms cubic-bezier(0.000, 0.880, 0.665, 0.995); 
	   -moz-transition: all 500ms cubic-bezier(0.000, 0.880, 0.665, 0.995); 
	    -ms-transition: all 500ms cubic-bezier(0.000, 0.880, 0.665, 0.995); 
	     -o-transition: all 500ms cubic-bezier(0.000, 0.880, 0.665, 0.995); 
            transition: all 500ms cubic-bezier(0.000, 0.880, 0.665, 0.995); 

	-webkit-transition-timing-function: cubic-bezier(0.000, 0.880, 0.665, 0.995); 
	   -moz-transition-timing-function: cubic-bezier(0.000, 0.880, 0.665, 0.995); 
	    -ms-transition-timing-function: cubic-bezier(0.000, 0.880, 0.665, 0.995); 
	     -o-transition-timing-function: cubic-bezier(0.000, 0.880, 0.665, 0.995); 
	        transition-timing-function: cubic-bezier(0.000, 0.880, 0.665, 0.995); */
}

.imageSlider .imgHolder.alt {
	filter: url(filters.svg#grayscale);
    filter: gray; 
    -webkit-filter: grayscale(1); 
}

/*.imageSlider .imgHolder.top { 
	-webkit-transition-property: top;
	-moz-transition-property: top;
	-o-transition-property: top;
}

.imageSlider .imgHolder.left { 
	-webkit-transition-property: left;
	-moz-transition-property: left;
	-o-transition-property: left;
}*/

.project .imageSlider .imgHolder.left.neg.holder1,
.project:hover .imageSlider .imgHolder.left.neg.holder2,
.project .imageSlider .imgHolder.left.pos.holder1,
.project:hover .imageSlider .imgHolder.left.pos.holder2 { left:0; }

.project .imageSlider .imgHolder.left.pos.holder2,
.project:hover .imageSlider .imgHolder.left.neg.holder1 { left:-100%; }

.project .imageSlider .imgHolder.left.neg.holder2,
.project:hover .imageSlider .imgHolder.left.pos.holder1 { left:100%; }

.project .imageSlider .imgHolder.top.neg.holder1,
.project:hover .imageSlider .imgHolder.top.neg.holder2,
.project .imageSlider .imgHolder.top.pos.holder1,
.project:hover .imageSlider .imgHolder.top.pos.holder2 { top:0; }

.project .imageSlider .imgHolder.top.pos.holder2,
.project:hover .imageSlider .imgHolder.top.neg.holder1 { top:-100%; }

.project .imageSlider .imgHolder.top.neg.holder2,
.project:hover .imageSlider .imgHolder.top.pos.holder1 { top:100%; }


.loadingHolder {
	width: 100%;
	height: 50px;
	top: 200px;
	position: absolute;
	text-align: center;
}

.loader{
	top: 50%;
	margin: -10px 10px 0;
	padding: 6px;
	background: rgb(175, 175, 175);
	position: relative;
	display: inline-block;
	height: 10px;
	width:10px;
}
.loadingHolder .loader { height:20px; }
.loader div{

	width:10px;
	height:10px;
	

	background: #FFF;
}

#container.noscroll {
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	overflow: hidden;
}

.tester {
	width:100%;
	height: 1200px;
	background: red;
}

.amin, .pane {
-webkit-transition: all 500ms cubic-bezier(0.150, 0.930, 0.235, 0.985); 
   -moz-transition: all 500ms cubic-bezier(0.150, 0.930, 0.235, 0.985); 
    -ms-transition: all 500ms cubic-bezier(0.150, 0.930, 0.235, 0.985); 
     -o-transition: all 500ms cubic-bezier(0.150, 0.930, 0.235, 0.985); 
        transition: all 500ms cubic-bezier(0.150, 0.930, 0.235, 0.985); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.150, 0.930, 0.235, 0.985); 
   -moz-transition-timing-function: cubic-bezier(0.150, 0.930, 0.235, 0.985); 
    -ms-transition-timing-function: cubic-bezier(0.150, 0.930, 0.235, 0.985); 
     -o-transition-timing-function: cubic-bezier(0.150, 0.930, 0.235, 0.985); 
        transition-timing-function: cubic-bezier(0.150, 0.930, 0.235, 0.985); /* custom */
}

.shade { background:#ddd; } 
.backdrop { background: white; } 

.imageArrayPane {
    position: relative;
    padding: 0 12px 0 59px;
}
.projectSlidingPane .imageArrayPane .btns{ display:inline-block; width: 49px; vertical-align: top; float: left; background: none; z-index: 2;}


.pane {
	transition-property:top,left;
	-moz-transition-property: top,left;
	-webkit-transition-property:top,left;
	-o-transition-property:top,left; 

	transition-duration:.2s;
	-moz-transition-duration:.2s; /* Firefox */
	-webkit-transition-duration:.2s; /* Safari and Chrome */
	-o-transition-duration:.2s; /* Opera */
}

.pane.left-i, .pane.right-f {
	left:100%;
}

.pane.left-f, .pane.right-i {
	left:-100%;
}

.pane.up-i, .pane.down-f {
	top: 100%;
}

.pane.down-i, .pane.up-f {
	top:-100%;
}

.pane{
	top:0;
	left:0;
}


#copyright { position:absolute; bottom:0; color: rgb(206, 208, 228); margin: 0; left: 0; width: 100%; text-align: center; height: 36px; padding: 12px 0; font-size: 1.1em;}
#copyright div { font-size:.7em; margin-bottom:-3px; color: rgb(181, 184, 209); }

.dialog {
    width:280px;
    position:fixed;
    left:50%;
    top:30%;
    margin-left:-150px;
    background:white;
    padding:10px;
    box-shadow: rgba(0,0,0,.2) 0 1px 6px;
    transition-duration:.2s;
	-moz-transition-duration:.2s; /* Firefox */
	-webkit-transition-duration:.2s; /* Safari and Chrome */
	-o-transition-duration:.2s; /* Opera */
	transform-origin: center center;
}

.dialog.hidden {
    -moz-transform: scale(.8) rotateX(-45deg);
    -o-transform: scale(.8) rotateX(-45deg);
    -webkit-transform: scale(.8) rotateX(-45deg);
    opacity:0;
}

.dialog input {
    width:100%;
    line-height:28px;
    padding:4px 12px;
    box-sizing:border-box;
    font-size:1.2em;   
    outline: none;
    border: 1px solid rgb(223, 223, 223);
}

.dialog .buttons {
    width:100%;
    text-align:right;
    margin:10px 0 0;
}

.dialog .buttons div {
    display:inline-block;
    padding: 3px 12px;
    margin: 0 0 0 8px;
    background: rgb(133, 133, 133);
    color:white;
    cursor:pointer;
}

.dialog .buttons div:hover {
    background: rgb(155, 154, 179);
}

.dialog .error {color:red; text-align:center; padding-top: 5px;}

